node_modules
!tests/fixtures/resources/TestApp/node_modules/
!tests/fixtures/resources/TestApp/node_modules/**
.npmrc
.idea
dist/
bin/
/___automation___.npmrc___
coverage/
.npm-cache/
**/.gradle/**
**/android/app/build/**
